@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Roboto', Helvetica, Arial, sans-serif;
  color: #cacaca;
  background-color: #000;
}

#SocialBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #000;
  color: #cacaca;
  text-align: left;
}

#brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#SocialLogo {
  width: 150px;
  margin-bottom: 20px;
}

#SocialLogo > img {
  width: 100%;
}

#intro {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.LinkBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.LinkBox p {
  padding: 1vh 0;
  font-size: large;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-bottom: 10px;
}

.LinkBox p:hover {
  color: #ffffff;
}

#Links4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Links4 > div > a > img {
  width: 150px;
  margin-bottom: 10px;
}

#Links4 #five-black {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
}

#Links4 #five-black div {
  margin: 0 5px;
}

#Links4 #five-black img {
  width: 32px;
}

@media (min-width: 768px) {
  #SocialBox {
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 80px;
    height: auto;
  }

  #brand {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }

  #SocialLogo {
    width: 150px;
  }

  #intro {
    width: 400px;
    text-align: left;
    padding-top: 40px;
  }

  .links {
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }

  .LinkBox {
    width: auto;
    align-items: flex-start;
  }

  #Links4 > div > a > img {
    width: 178px;
  }

  #Links4 #five-black {
    max-width: none;
  }

  #Links4 #five-black img {
    width: 32px;
  }
}
